.bottompane {
    -fx-background-color: #8fbc8f;
}

.floorbutton {
	-fx-background-color: #30ff31;
	-fx-font: 10 arial;
}

.elevatorbutton{
	-fx-background-radius: 7em;
	-fx-background-color:#ff0000;
	 
}

.buttonlit{
	-fx-background-color: #ffff00;
}

.floorpane {
    -fx-background-color: #a9a9a9;
}

.floorspane {
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 2;
    -fx-border-radius: 2;
    -fx-border-color: #000000;
    -fx-spacing: 10;
}

.onefloor{
	-fx-background-color: #00ffff;
}
.elevatorpane {
    -fx-background-color: #f5f5dc;
}

.elevatorspane {
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 2;
    -fx-border-radius: 2;
    -fx-border-color: #000000;
}

.my-rect { -fx-fill: red; }
